* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: rgb(163, 245, 252);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
   
}

.card{
    width: 400px;
    height: 400px;
    background-color: white;
    position: relative;
    overflow: hidden;
   
   
}

.card img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.card1{
    background: linear-gradient(transparent,black);
    width: 100%;
    height: 40%;
    position: absolute;
    padding: 20px;
    bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all ease 0.7s;
     opacity: 0;      /*element completely invisible */
}

.card:hover .card1{
   bottom: 0%;
   opacity: 1;      /*element completely visible */
}

.card1 h2{
    color: white;
    font-size: 30px;
}
.card1 i{
    background-color:  white;
    padding: 5px;
    border-radius: 50px;
    
}