* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: apple;
}


#main{
    width: 100%;
    height: 100%;
    background-color: rgb(169, 209, 223);
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}

.card1{
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 10px 20px black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
    border-radius: 18px;
    border: none;
}

.card1 img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: none;
    margin: -2px;
    
    
}

.class1 h2{
    color: black;
    align-items: center;
    font-weight: 600;
    
}
.card1 p{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    
}
.card1 button{
    background-color: rgb(44, 135, 169);
    border: 2px solid rgb(44, 135, 169);
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
    color: white;
    cursor: pointer;
}

.card1 button:hover{
    background-color: black;
     font-size: 20px;

}