* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: apple;
}



main{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr ;
   grid-template-areas: "header header"
                         "section section"
                         "footer footer";

}

header{
    background-color: aqua;
   grid-area: header;
}

section{
    background-color: darkgreen;
    grid-area: section;

}

footer{
    background-color: brown;
    grid-area: footer;
}