@font-face {
    font-family: apple;
    src: url(./sf-pro-text_semibold.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: apple;
}



/* #main {
    width: 100%;
    height: 107%;
    background-image: url(https://www.apple.com/v/iphone-17-pro/c/images/overview/welcome/hero__bdntboqignj6_medium_2x.jpg);
    background-size: cover;
    background-position: center;
} */

#nav {
    width: 100%;
    height: 48px;
    background-color: rgb(45, 43, 43);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;


}

#nav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

#nav h4 {
    color: white;
    size: 200px;
}


#center {
    width: 100%;
    height: 124%;
    background-image: url(https://www.apple.com/v/iphone-17-pro/c/images/overview/welcome/hero__bdntboqignj6_medium_2x.jpg);
    background-size: cover;
    background-position: center;
}

#btn{

    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;   
    text-align: center;
    margin-top: -110px;
    
}

/* #btn{
    height: 80px;
    width: 100%;
   position: absolute;
    top: 20px;
    left: 80px;
} */

#btn button{
    color: white;
    background-color: rgb(33, 83, 153);
    border: none;
    border-radius: 50px;
    font-weight: 600px;
    font-size: 20px;
    padding: 10px 30px;
    margin: 10px;
}

#btn h4{
    color: white;
    font-size: 22px;
    font-weight: 600;
}

#highlight{
   width: 100%;
    height: 95%;
    background-color: rgb(39, 38, 38);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 19px;
    gap: 20px;
}

#highlight h1{
    color: white;
    font-weight: 600;
    align-items: center;
    margin-bottom: 444px;
    margin-left: 20px;
    font-size: 95px;

}

#images{
     width: 100%;
    height: 80%;
    background-color: rgb(39, 38, 38);
    display: flex;
    justify-content: center;
    align-items: center;   
    text-align: center;
    margin-top: -355px;
    gap: 20px;
}
#images img{
    width: 700px;
    border: none;
    border-radius: 17px;

}

#images img{
    width: 700px;
     border: none;
    border-radius: 17px;
}

#box1 h2{
 color: white;
    align-items: center;
    margin-top: -50px;
    margin-left: 2px;
    font-size: 21px;

}