@font-face {
    font-family: apple;
    src: url(./sf-pro-text_semibold.woff2);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

#box {
    width: 100%;
    height: 100vh;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLKZtWAUn2nawlsQXnVuPyvRn44W8E_Wssnw&s');
    background-size: cover;
    background-position: center;
    text-align: center;
    
}

h1{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 20vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

} 

button{
    margin: 15px;
    padding: 4px;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

}


