* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html,
body {
    width: 100%;
    height: 100%;

}

#main {
    width: 100%;
    height: 100%;
    background-color: white
}

#nav {
    padding: 10px 30px;

}

#nav a {
    color: black;
    font-size: 18px;
    margin-right: 30px;
    text-decoration: none;
}
#main > h1{
    font-size: 300px;
    padding-left: 70px;
    font-weight: 200;
    text-align: center;
}
#btmleft{
    width: 300px;
    position: absolute;
    bottom: 20%;
    left: 5%;
    background-color: white;
}

#btmleft p{
    font-size: 20px;
    margin-top: 5px;


}

#btmleft h3{
    margin-top: 50px;
    font-size: 30px;

}

#btmleft h4{
    margin-top: 40px;
    font-size: 20px;

}

#btmbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:30px 70px;
    padding-left: 70px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
}
#btmbar a{
    color:black;
    font-size: 18px;
    text-decoration: none;
    
    
}

#main>img{
    position: absolute;
    height: 350px;
}


#main #first{
      height: 384px;
    top: 33%;
    left: 57%;
    border-radius: 20px;

}

#main #second{
   height: 265px;
    top: 41%;
    left: 38%;
    border-radius: 20px;
  
}

#main #third{
    
    height: 275px;
    top: 58%;
    left: 47%;
    border-radius: 20px;
}




