* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: apple;
}

@mixin flex_col($gap) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main {
    width: 100%;
    padding: 1rem;


    section.navbar {

        width: 100%;


        nav {

            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0rem 1rem;

            h1 {
                font-size: 1.5rem;
                font-weight: 600;
            }

            h2 i {
                display: block;
                font-size: 1.5rem;
                font-weight: 500;
            }

            ul {
                display: none;

            }

            .btn {
                display: none;

            }


        }

    }

    section.content {
        width: 100%;
        @include flex_col(2rem);
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 2rem;

        .text h2 {
            font-size: 2.4rem;
            font-weight: 400;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .heroimg {
            width: 100%;
            @include flex_col(2rem);




            .card {
                width: 100%;
                height: 400px;
                padding: 0rem 2rem;
                border-radius: 20px;
                position: relative;
                overflow: hidden;


                img {
                    width: 100%;
                    object-fit: cover;

                }
            }

            .box {
                width: 60%;
                height: 40px;
                background: linear-gradient(transparent, black);
                padding: 12rem;
                bottom: 4rem;
                left: 0;
                margin-left: 2rem;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                position: absolute;
                opacity: 0;
                transform: translateY(100%);
                transition: all ease-in 2s;
                border-radius: 25px;

                @include flex_col(1rem);





                h2 {
                    font-size: 3rem;
                    color: white;
                    margin-left: -9rem;



                }

                h3 {
                    font-size: 2rem;
                    color: white;
                    margin-left: -9rem;

                }
            }

            .card:hover .box {
                opacity: 1;
                bottom: 0%;
                transform: translateY(0);

            }

        }
    }

    section.content2{

        width: 100%;
        margin-top: 12rem;
        background-color: rgb(225, 217, 206);
    
        .text{
            display: flex;
            @include flex_col(2rem);
            align-items: center;
            justify-content: center;

            h2{
                font-size: 3rem;
                font-weight: 300;
                margin-top: 2rem;
            }

            ul{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                 gap: 2rem;

               li{
                list-style: none;
                text-align: center;
                font-size: 2rem;
                font-weight: 300;
               
               }
            }
        }

        .herocard{
            width: 100%;
            padding: 3rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .card1{
                width: 100%;
                border-radius: 20px;



                img{
                    max-width: 90%;
                  
                    object-fit: cover;
                    border-radius: 20px;
                }
            }
            
            .view{
               display: flex;
               align-items: flex-start;
               margin-top: 2rem;
               margin-left: 3rem;
               text-align: center; 
              

               h3{
                background-color: #000000;
                    color: #fff;
                font-size: 2rem;
                font-weight: 300;
                margin-left: -3rem;
                 border: 2px solid black;
                 border-radius:50px ;
                 padding: 1rem 2rem;
               

                i{
                    font-size: 2rem;
                font-weight: 500;
                }

                
               }
               

            }

        }






    }
}



@media(min-width:900px) {



    main section.navbar nav {

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;

        h1 {
            font-size: 4rem;
        }

        h2 i {
            display: none;

        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6rem;
            list-style: none;
            margin: 0 auto;

            li {
                display: block;



                a {
                    text-decoration: none;
                    font-size: 2rem;
                    font-weight: 400;
                    color: black;

                }
            }

        }

        .btn {
            display: block;
            gap: 4rem;

            #btn1 {
                background-color: #fff;
                border: 2px solid black;
                border-radius: 50px;
                font-size: 1.4rem;
                padding: 1rem 3rem;
            }

            #btn2 {
                background-color: #000000;
                border: 2px solid rgb(0, 0, 0);
                color: white;
                border-radius: 50px;
                font-size: 1.4rem;
                padding: 1rem 3rem;
            }


        }
    }

    main section.content {
        width: 100%;
        height: 100%;
        background-color: rgb(225, 217, 206);
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        gap: 2rem;

        .text {
            
            width: 40%;
            padding: 1rem 2rem;

            h2{
                font-size: 6rem;
                font-weight: 400;
                text-align: center;
              
            }
        }

        .heroimg {
            width: 100%;
            flex-direction: row;
            display: flex;
            gap: 0.5rem;
            margin-top: 12rem;
            transition: all 0.5s ease;
            

            .card {
                width: 100%;
                height: 40%;
                position: relative;
                overflow: hidden;
                border-radius: 20px;
                flex: 1;
                transition: flex 0.6s ease, transform 0.6s ease;


                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }

                .box {
                    width: 70%;
                    height: 20%;
                    opacity: 0;
                    bottom: 0;
                    left: 0;
                    transform: translateY(100%);
                    transition: all 1.5s ease-in;
                    margin-left: 2rem;
                    overflow: hidden;
                    border-radius: 28px;
                }

            &:hover{
                    flex-grow: 2;
                    transform: scale(1.02);
                    
                   
                }

                &:hover .box {
                     width: 92%;
                    opacity: 1;
                    transform: translateY(0);
                    border-radius: 20px;
                }

            }

        }
    }
}