<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
=======
@font-face {
    font-family: apple;
    src: url(./sf-pro-text_semibold.woff2);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
>>>>>>> 557ec61f16f9e7d131b024060f441fd720027387
}

html,
body {
<<<<<<< HEAD
  width: 100%;
  height: 100%;
  font-family: apple;
}

main {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
}
main section {
  width: 30%;
  height: 30%;
  flex: 1;
  transition: all linear 0.6s;
  cursor: pointer;
}
main section img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
main section:hover {
  flex-grow: 2;
}/*# sourceMappingURL=style.css.map */
=======
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

#box {
    width: 100%;
    height: 100vh;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLKZtWAUn2nawlsQXnVuPyvRn44W8E_Wssnw&s');
    background-size: cover;
    background-position: center;
    text-align: center;
    
}

h1{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 20vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

} 

button{
    margin: 15px;
    padding: 4px;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

}


>>>>>>> 557ec61f16f9e7d131b024060f441fd720027387
