* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: apple;
}


main {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
      gap: 20px;

    section {
        width: 30%;
        height: 30%;
        flex:1;
        transition: all linear 0.6s;
        cursor: pointer;
    }

    section img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
     
    section:hover {
        flex-grow: 2;
    }

}