* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: apple;
}

#main{
    width: 100%;
    height: 100%;
    background-color:  rgb(154, 122, 103);
    display: flex;
    align-items: center;
    justify-content: center;
}

#center{
    width: 70%;
    height: 60%;
    border: 4px solid black;
    border-radius: 24px;
     display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    
}

#nav a{
  padding: -55px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    margin-left: 87px;
}

#nav img {
   width: 40px;
    margin-left: -940px;
    margin-top: 21px;

    
}
#nav h3{
    
    margin-left: -1px;
    margin-bottom: -17px;
}

#nav2{
     display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-left: 649px;
    margin-top: -36px;
    
    
}



#nav2 h3{
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    margin: 15px;

    
}
#box{
   width: 19%;
    height: 39%;
    position: absolute;
    top: 291px;
    left: 303px;
    background-color: white;
    border-radius: 15px;
    border: none;

}

#box h4, h3{
     color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin: 15px;


}


#box p{
     color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin: 15;


}

#box button{
    background-color: rgb(154, 122, 103);
     color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    align-items: center;
    margin-left: 102px;
    margin-top: 20px;
    padding: 6px;
    border: 2px solid rgb(162, 156, 156) ;
    border-radius: 50px;
}
